<div class="kotha-default-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <article class="single-blog contact-us">
          <div class="kotha-logo text-center">
            <h1><a href="<%= root_path %>">
              <%= image_tag("cover-photo.png", alt: "Colorful Camels Logo", title: "Colorful Camels") %>
            </a></h1>
          </div>

          <div class="post-content">
            <div class="entry-header text-center text-uppercase">
              <h2 class="text-left">SIGN IN TO YOUR ACCOUNT</h2>
            </div>
            

            <div class="leave-comment">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <form class="form-horizontal contact-form">
                <div class="form-group">
                  <div class="row tpad-15">
                    <div class="col-md-6">
                      <%= f.email_field :email, class: "form-control ", placeholder:"Email",:autocomplete => "on" %>
                    </div>
                    <div class="col-md-6">
                      <%= f.password_field :password, class: "form-control", placeholder: "Password",:autocomplete => "on" %>
                    </div>
                  </div>
                  <div class="row tpad-15">
                    <div class="col-md-6">
                      <div class="contact100-form-checkbox">
                        <input id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                          <span class="txt1">Remember Me</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <%= link_to "Forgot password?", new_password_path(resource_name), :style => "color:#da521e !important;" %>
                    </div>
                  </div>
                  
                </div>

                    <button type="submit" class="btn send-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> SIGN IN</button> 
              </form>
              <% end %>

              <a role="button" style="margin-top: 15px" href="<%= new_user_registration_path %>" class="btn btn-success  tpad-15"><i class="fa fa-user-plus" aria-hidden="true"></i> Don't have an account? SIGN UP</a>


            </div>
          </div>

        </article>
      </div>
      <div class="col-sm-4">
        <div class="kotha-sidebar">
        
          <aside class="widget latest-post-widget">
            <h2 class="widget-title text-uppercase text-center">Popular Posts</h2>
            <ul>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-1.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">A Marine Dive From Sky</a></h2>
                  <p>May 27, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-2.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Small Meeting Room</a></h2>
                  <p>April 27, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-3.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Selfie from the beach point</a></h2>
                  <p>April 20, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-4.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Gather Some Artist Pencils.</a></h2>
                  <p>May 27, 2017</p>
                </div>
              </li>
            </ul>
          </aside>
          <aside class="widget latest-post-widget">
            <h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
            <ul>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-1.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">A Marine Dive From Sky</a></h2>
                  <p>May 27, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-2.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Small Meeting Room</a></h2>
                  <p>April 27, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-3.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Selfie from the beach point</a></h2>
                  <p>April 20, 2017</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="#" class="popular-img"><img src="assets/images/recent-4.jpg" alt="">
                  </a>
                </div>
                <div class="latest-post-content">
                  <h2 class="text-uppercase"><a href="#">Gather Some Artist Pencils.</a></h2>
                  <p>May 27, 2017</p>
                </div>
              </li>
            </ul>
          </aside>
        
        </div>
      </div>
    </div>
  </div>
</div>

